# HTTP Server
ADDR=:8080
READ_TIMEOUT=5
WRITE_TIMEOUT=10
IDLE_TIMEOUT=120

# Database
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=effective_mobile
DB_TIMEZONE=UTC
# DB_SSL=disable по умолчанию

# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:root@localhost:5432/effective_mobile
GOOSE_MIGRATION_DIR=./internal/database/migrations
